@import 'antd/dist/antd.css';

.ant-menu-item {
    padding: 0px 5px;
  }

.ant-menu-submenu-title {
    padding: 10px 20px;
  }

.ant-menu-item a, .ant-menu-submenu-title > a {
    padding: 10px 15px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}

.ant-menu-vertical.ant-menu-sub > .ant-menu-item {
  margin-bottom: 20px;
}

.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
  color:rgba(0, 0, 0, 0.65);
}

