@import 'antd/dist/antd.css';

.ant-menu-item {
    padding: 0px 5px;
  }

.ant-menu-submenu-title {
    padding: 10px 20px;
  }

.ant-menu-item a, .ant-menu-submenu-title a {
    padding: 10px 15px;
}